body{
  background-color: bisque;
  color: black;
  font-family: 'Arial', sans-serif;
}

header{
  background-color:brown;
  color: white;
  padding: 1em;
  text-align: center;
}

header img {
  width: 300px;
}

footer{
  margin-top: 100px;
  text-align: center;
}
