body{
  background-color: bisque;
  color: black;
  font-family: 'Arial', sans-serif;
}

header{
  background-color:brown;
  color: white;
  padding: 1em;
  text-align: center;
}

header img {
  width: 300px;
}

footer{
  margin-top: 100px;
  text-align: center;
}

h2{
  margin-top: 50px;
}

button{
  cursor: pointer;
}

button:hover{
  background-color: brown;
  color: white;
}

@media (max-width: 680px) {
  body{
    background-color:aquamarine;
  }
  header img {
    width: 200px;
  }
}

@media (min-width: 680px) and (max-width:1200px){
  body{
    background-color:lightblue;
  }
  header img {
    width: 250px;
  }
}
