body{
  background-color: bisque;
  color: black;
  font-family: 'Arial', sans-serif;
}

header{
  background-color:brown;
  color: white;
  padding: 1em;
  text-align: center;
}

header img {
  width: 300px;
}

footer{
  margin-top: 100px;
  text-align: center;
}

button{
  cursor: pointer;
  padding: 5px 12px;
  font-size: 0.8em;
  border: none;
  border-radius: 2px;
  background-color: #b5651d;
  color: white;
}

button:hover{
  background-color:blue;
  color: white;
}

@media (max-width: 680px) {
  body{
    background-color:aquamarine;
  }
  header img {
    width: 200px;
  }

  button {
    font-size: 2em;
    padding: 12px 20px;
  }
}

@media (min-width: 680px) and (max-width:1200px){
  body{
    background-color:lightblue;
  }
  header img {
    width: 250px;
  }

  button {
    font-size: 2em;
    padding: 12px 20px;
  }
}
